.DS_Store
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
build/
*.xcarchive
*.dSYM
*.ipa
*.mobileprovision
*.p12
*.p8
*.pem
*.cer
*.key
*.keychain-db
.env
.env.*
GoogleService-Info.plist
firebase_app_id_file.json